<h1 style="text-align: center;">Welcome to the boats_underscore_application</h1>


<p><% @boats.each do |boat| %></p>
<p>title: <a href="/boats/<%= boat.id %>"> <%=  boat.title %></a></p>

<hr>
<% end %>