<h1>New Page</h1>
<%= form_tag "/boats", method: :post do %>
<p>title: <input type="text" name="title"></p>
<p>color: <input type="text" name="color"></p>
<p>capacity: <input type="text" name="capacity"></p>
<p>price: <input type="text" name="price"></p> 
<input type="submit" value="Create Boat">
<% end %>
