<h1 style="text-align: center;">Welcome to the SHOW</h1>
<h3 style="text-align: center;">title: <%= @boat.title %></h3>
<h3 style="text-align: center;">color: <%= @boat.color %></h3>
<h3 style="text-align: center;">capacity: <%= @boat.capacity %></h3>
<h3 style="text-align: center;">price: <%= @boat.price %></h3>